<h2> List Products </h2>
<ul>
  <% @products.each do |product| %>
    <li>product name:<%= product.product_name %></li>
    <li>category:<%= product.category&.category_name %></li>
    <li>user email:<%= product.user&.email %></li>
  <%end%>
</ul>
